# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xctimeline

# Swift Package Manager
.build/
Packages/
Package.resolved
!AdhanApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
xcuserdata/

# Fastlane generated screenshots and reports
fastlane/screenshots/*/*.png
fastlane/screenshots/screenshots.html
fastlane/screenshots/test_output/
