<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByGk7lq8PZ8uFCZuPl4vyrvBAR4jCENuE</string>
	<key>GCM_SENDER_ID</key>
	<string>808237775997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shariqw.adhanpro</string>
	<key>PROJECT_ID</key>
	<string>adhan-app-cb6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>adhan-app-cb6bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:808237775997:ios:f3479dac0329f7d39bc514</string>
</dict>
</plist>
